<h1>Zettelwirtschaft</h1>
<p class="lead">Zettelwirtschaft ist die neue, intelligente Alternative zum Haushaltsbuch. Scannen Sie einfach Ihre Einkaufsbelege mit Ihrem Smartphone ein und überlassen Sie uns den Rest. Sie können sich hier Ihre Einkäufe und Auswertungen anzeigen lassen.</p>

<div style="margin-bottom: 15px;">
	<a href="#/purchases" id="btnNavPurchase" type="button" class="btn btn-default btn-lg">Einkäufe</a>
</div>
<div style="margin-bottom: 15px;">
	<a href="#/statistics" id="btnNavStatistic" type="button" class="btn btn-default btn-lg">Statistiken</a>
</div> 
