<div style="text-align: left;">
  <div style="display: inline-block;">
    <ol class="breadcrumb" style="background-color: white; height: 20px; margin-bottom: 0px;">
      <li><a href="#">Einkäufe</a></li>
      <li class="active"><a href="#">März</a></li>
    </ol>
  </div>
</div>

<h1>Einkauf bei Rewe vom 23.04.2014</h1>

<div style="text-align: left;">
  <div class="table-responsive">
    <table class="table table-hover">
      <thead style="font-weight: bold;">
        <tr>
          <td class="col-xs-2">Kategorie</td>
          <td>Gegenstand</td>
          <td class="col-xs-2">Betrag</td>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>Obst/Gemüse</td>
          <td>Erdbeeren</td>
          <td>0,99 €</td>
        </tr>
        <tr>
          <td>Lebensmittel</td>
          <td>Pesto, ital. 190 g</td>
          <td>1,19 €</td>
        </tr>
        <tr>
          <td>Lebensmittel</td>
          <td>Pommes Fritz</td>
          <td>0,95 €</td>
        </tr>
        <tr>
          <td>Lebensmittel</td>
          <td>Bio Lachsfilet</td>
          <td>4,99 €</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td style="font-weight: bold;">8,12 €</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div id="chart1" class="col-xs-12" style="height: 350px;"></div>
  <div class="code prettyprint">
  <pre class="code prettyprint brush: js"></pre>
</div>