<h1>Einkäufe</h1>

<div style="text-align: left;" class="panel-group" id="accordion">

{{#purchaseslist}}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-target="#collapse{{month}}{{year}}">
          <span>{{month}} / {{year}}</span>
          <span class="pull-right">{{monthSum}} €</span>
        </a>
      </h4>
    </div>
    <div id="collapse{{month}}{{year}}" class="panel-collapse collapse">
      <div class="panel-body">

		<div class="table-responsive">
		  <table class="table table-hover purchaseTable">
		  	<thead style="font-weight: bold;">
		  		<tr>
		  			<td class="col-xs-2">Datum</td>
		  			<td>Shop</td>
		  			<td class="col-xs-2">Betrag</td>
		  		</tr>
		  	</thead>

		  	<tbody>	
	  			{{#purchases}}
			    <tr purchaseId="{{id}}">
			    	<td>{{time}}</td>
			    	<td>{{storeName}}</td>
			    	<td>{{sum}} €</td>
			    </tr>
	  			{{/purchases}}
		    </tbody>
		  </table>

			<div id="chart{{month}}{{year}}" class="col-xs-12 col-md-8" style="height: 350px;"></div>
			  <div class="code prettyprint">
			</div>
			<div id="legendContainer{{month}}{{year}}" class="col-xs-12 col-md-4"></div>

		</div>


      </div>
    </div>
  </div>
{{/purchaseslist}}

</div>
