<h1>Einkäufe</h1>

<div style="text-align: left;" class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-target="#collapseOne">
          April 2014
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">

		<div class="table-responsive">
		  <table class="table table-hover purchaseTable">
		  	<thead style="font-weight: bold;">
		  		<tr>
		  			<td class="col-xs-2">Datum</td>
		  			<td>Shop</td>
		  			<td class="col-xs-2">Betrag</td>
		  		</tr>
		  	</thead>

		  	<tbody>
			    <tr>
			    	<td>20.04.2014</td>
			    	<td>Rewe</td>
			    	<td>43,74 €</td>
			    </tr>
			    <tr>
			    	<td>19.04.2014</td>
			    	<td>Aldi</td>
			    	<td>21,12 €</td>
			    </tr>
			    <tr>
			    	<td>12.04.2014</td>
			    	<td>Netto</td>
			    	<td>57,11 €</td>
			    </tr>
			    <tr>
			    	<td>11.04.2014</td>
			    	<td>Edeka</td>
			    	<td>89,77 €</td>
			    </tr>
			    <tr>
			    	<td>12.04.2014</td>
			    	<td>Real</td>
			    	<td>123,41 €</td>
			    </tr>
		    </tbody>
		  </table>
		</div>


      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-target="#collapseTwo">
          März 2014
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-target="#collapseThree">
          Februar 2014
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
</div>
